/*  Font used on the current website to print "Myndigheten för Yrkeshögskolan".
    Taget från den befintliga sidan. */
$MyhHeaderFont: "HelveticaNeue",
"Helvetica Neue",
"HelveticaNeueRoman",
"HelveticaNeue-Roman",
"Helvetica Neue Roman",
"TeXGyreHerosRegular",
"Helvetica",
"Tahoma",
"Geneva",
"Arial",
sans-serif;

/*  Base font for the website. */
$baseFont: "Noto Sans",
"Verdana",
"Arial",
sans-serif;

/*  Color scheme */
$backgroundColor: #f9f8f8;
$baseColor: #425768;
$baseColor-lighter: #526b81;
$textColor: #eee;
$beigeColor: #F0E6E6;

/*  Reset styles. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
  font-size: 16px;
  font-family: $baseFont;
  transform: translateZ(0);
}

/*  Container-div needed for parallax effect. Sets perspective for the
    whole viewport and sets everything in an inner scrolling box. */
#container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  transform-style: preserve-3d;
}

/*  Helper-class to centralize and set width of conten. */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  position: relative;

  img {
    display: inline-block;
    margin: 1rem 0;
    vertical-align: -1.8rem;
  }

  h1 {
    display: inline-block;
    font-family: $MyhHeaderFont;
    font-size: 1.4rem;
    text-align: left;
  }

  ul {
    float: right;

    li {
      border-left: 1px solid $baseColor;
      display: inline-block;
      font-size: 0.9rem;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
    }

    li:first-of-type {
      border-left: none;
    }
  }

  form {
    bottom: 1rem;
    right: 1rem;
    position: absolute;

    input {
      font-size: 1rem;
      background-image: url("../images/icon-search.svg");
      background-repeat: no-repeat;
      background-size: 1rem;
      background-position: right 0.5rem center;
      padding: 0.2rem 0.5rem;
    }

    button {
      background-color: $baseColor;
      border: 2px solid $baseColor;
      color: $textColor;
      font-size: 1rem;
      padding: 0.2rem 0.5rem;
      margin-left: -0.4rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 700px) {

    img,
    h1,
    ul,
    form {
      bottom: 0;
      display: block;
      float: none;
      margin: 1rem auto;
      position: relative;
      right: 0;
      text-align: center;
    }

    ul {
      margin-top: 0;
    }
  }
}

nav {
  background-color: $baseColor;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  clear: right;
  font-size: 1rem;
  position: relative;

  /* For larger vieports hide mobile navigation elements. */
  #hamburger-container,
  input,
  label {
    display: none;
  }

  #main-menu {
    display: flex;
    justify-content: space-between;
  }

  li,
  p,
  label {
    padding: 0.5rem 1rem;
  }

  li {
    cursor: pointer;
    display: inline-block;
    position: relative;
  }

  li,
  #main-menu a,
  p,
  label {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  #main-menu li:first-child {
    padding-left: 0;
  }

  #main-menu li:last-child {
    padding-right: 0;
  }

  &>div>ul>li:hover {
    background-color: $baseColor-lighter;
  }

  li>ul {
    background-color: $baseColor;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    left: -0.04rem;
    opacity: 1;
    position: absolute;
    top: 2.4rem;
    transform: scale(0);
    transform-origin: center 0;
    transition: all 0.3s ease;
    z-index: 2;
  }


  /*  On Edge remove submenues because they don't show up when navigation through them. */
  @supports (-ms-ime-align:auto) {

    &>div>ul>li>ul {
      display: none;
    }
  }

  /*  On hover or keyboard-focus expand sub-menu. Doesn't work on IE/Edge 
      and must therefore be seens as an enhancement not a feature. */
  &>div>ul>li:focus-within>ul {
    opacity: 0.95;
    transform: scale(1);
  }

  &>div>ul>li:hover>ul {
    opacity: 0.95;
    transform: scale(1);
  }

  /*  Position last sub-menu so it doesn't appear off screen. */
  li:last-child:hover>ul {
    left: -7.98rem;
    width: 11.1rem;
  }

  li>ul>li {
    display: block;
  }

  #main-menu li>ul>li:first-child {
    padding-left: 1rem;
  }

  li>ul>li:hover {
    background-color: $baseColor-lighter;
  }

  @media screen and (max-width: 1205px) {
    #hamburger-container {
      display: inline-block;
      position: relative;
      user-select: none;
      vertical-align: -0.3rem;
      z-index: 1;
    }

    /*  Position a transparent checkbox to accept "clicks" to expand
        the menu. */
    input {
      cursor: pointer;
      display: inline-block;
      height: 2rem;
      left: 1rem;
      opacity: 0;
      position: absolute;
      top: 0.2rem;
      width: 2.5rem;
      z-index: 3;
      -webkit-touch-callout: none;
    }

    label {
      display: inline-block;
    }

    /*  Style the "hamburger" and set styles to prepare for tranformation. */
    #hamburger-container span {
      background: $textColor;
      border-radius: 3px;
      height: 4px;
      display: block;
      margin-bottom: 5px;
      position: relative;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
      width: 33px;
      z-index: 2;
    }

    #hamburger-container span:last-child {
      margin-bottom: 0;
    }

    #hamburger-container span:first-child {
      margin-top: 0.5rem;
      transform-origin: 0% 0%;
    }

    #hamburger-container span:last-child {
      transform-origin: 0% 100%;
    }

    /*  On "click", ie checkbox is checked, rotate top and bottom
        hamburger into an "X" and make the middle one transparent. */
    #menu-toggle:checked~div span {
      opacity: 1;
      transform: rotate(45deg) translate(-4px, -2px);
    }

    #menu-toggle:checked~div span:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menu-toggle:checked~div span:last-child {
      transform: rotate(-45deg) translate(0, -1px);
    }

    #main-menu,
    li {
      display: block;
      width: 414px;
    }

    /*  Position menu of screen. */
    #main-menu {
      background-color: $baseColor;
      left: -414px;
      opacity: 0;
      position: absolute;
      top: 2.4rem;
      transition: all 0.5s ease-in-out;
    }

    #main-menu>li {
      padding: 0.5rem 4rem;
    }

    #main-menu>li:first-child {
      margin-top: 1rem;
      padding-left: 4rem;
    }

    #main-menu>li:last-child {
      margin-bottom: 1rem;
    }

    /*  Om "click" move menu in from the left. */
    #menu-toggle:checked~#main-menu {
      opacity: 0.95;
      transform: translateX(414px);
    }

    /*  On mobile hide sub-menu. */
    li>ul {
      display: none;
    }
  }
}

/*  Move hero-image back in space and scale it up to normal size. 
    Also set negative z-index to have everything else move on top
    of the image. */
#hero-image {
  height: 569px;
  margin: 0 auto 1rem;
  max-width: 1280px;
  position: relative;
  transform: translateZ(-1.5px) scale(1.6) translateX(-3rem) translateY(-1rem);
  z-index: -2;

  picture {
    width: 100%;
  }

  @media screen and (max-width: 828px) {
    height: 569px;
    margin: 0 auto 6rem;
    width: 100%;
    transform: translateZ(-1.5px) scale(1.6) translateX(-1rem) translateY(-1.5rem);
  }

  @media screen and (max-width: 768px) {
    height: 569px;
    margin: 0 auto 6rem;
    transform: translateZ(-1.5px) scale(1.6) translateX(-2.4rem) translateY(-1.5rem);
  }

  @media screen and (max-width: 704px) {
    height: 569px;
    margin: 0 auto 6rem;
    transform: translateZ(-1.5px) scale(1.6) translateX(-2.4rem) translateY(3rem);
  }

  @media screen and (max-width: 414px) {
    height: 569px;
    margin: 0 auto -10rem;
    transform: translateZ(-1.5px) scale(1) translateX(-10rem) translateY(-1.5rem);
  }
}

/*  On Edge Fix background image to avoid jittering on scroll. */
@supports (-ms-ime-align:auto) {

  #hero-image {
    height: 569px;
    margin: 2rem auto 0;
    max-width: 1248px;
    position: relative;
    transform: none;
    z-index: -2;

    picture,
    img {
      width: 100%;
    }

    @media screen and (max-width: 828px) {
      margin: 0 auto 1rem;
      width: 100%;
      transform: none;
    }

    @media screen and (max-width: 768px) {
      margin: 0 auto 1rem;
      transform: none;
    }

    @media screen and (max-width: 704px) {
      margin: 0 auto 1rem;
      transform: none;
    }

    @media screen and (max-width: 414px) {
      margin: 0 auto 1rem;
      transform: none;
    }
  }
}

main.wrapper {
  padding-top: 1rem;
}

#placeholder>div {
  height: 200px;
  widows: 100%;
  display: flex;
  justify-content: space-around;
  margin: -5rem 0 3rem;

  div {
    height: 200px;
    width: 200px;
    background-color: white;
    border: 3px solid $baseColor;
    border-radius: 5px;
  }
}


.aktuellt {

  width: 100%;
  display: flex;
  text-align: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 1rem;
}

.aktuellt>h2 {
  display: block;
  margin: 20px auto;
  font-size: 40px;
}

.aktuellt-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 45%;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  /*box-shadow: 5px 5px 5px 5px #cfcfcf;*/
}

.aktuellt-card img {
  width: 100%;
  border-radius: 1rem;
}

.aktuellt-card a {
  text-decoration: none;
}

.aktuellt-card div>hr {
  width: 75%;
  margin: 15px auto;
}

.aktuellt-card a:hover,
a:visited {
  color: #000;
  text-decoration: none;
}

.aktuellt-card div:nth-child(2) {
  margin: auto;
}

@media screen and (max-width: 1024px) {

  /*** AKTUELLT ***/
  .aktuellt {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .aktuellt-card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    flex-direction: row;
  }

  .aktuellt-card>div {
    width: 50%;
  }

  /*** AKTUELLT ***/
}

/*** AKTUELLT ***/
@media screen and (max-width: 850px) {
  .aktuellt-card {
    width: 100%
  }
}

@media screen and (max-width: 750px) {
  .aktuellt-card {
    width: 90%;
    flex-direction: column;
  }

  .aktuellt-card div {
    width: 100%;
  }
}

/*** AKTUELLT ***/

footer {
  background-color: $baseColor;
  height: 100vh;
}