/*  Font used on the current website to print "Myndigheten för Yrkeshögskolan". */
$MyhHeaderFont: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman",
  "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular",
  "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

/*  Base font for the website. */
$baseFont: "Noto Sans", "Verdana", "Arial", sans-serif;

/*  Color scheme */
$backgroundColor: #f9f8f8;
$baseColor: #425768;
$baseColor-lighter: #526b81;
$textColor: #eee;
